		.demoHeaders {
			margin-top: 2em;
		}
		#dialog-link {
			padding: .4em 1em .4em 20px;
			text-decoration: none;
			position: relative;
		}
		#dialog-link span.ui-icon {
			margin: 0 5px 0 0;
			position: absolute;
			left: .2em;
			top: 50%;
			margin-top: -8px;
		}
		#icons {
			margin: 0;
			padding: 0;
		}
		#icons li {
			margin: 2px;
			position: relative;
			padding: 4px 0;
			cursor: pointer;
			float: left;
			list-style: none;
		}
		#icons span.ui-icon {
			float: left;
			margin: 0 4px;
		}
		.fakewindowcontain .ui-widget-overlay {
			position: absolute;
		}
		select {
			width: 200px;
		}
		html {
			background-image: none;
			}
		#versionBar {
			position: fixed;
			width: 100%;
			height: 40px;
			bottom: 0;
			left: 0;
			font-weight: bold;	
			text-align: center;
			line-height: 35px;
			background-image: url(images/top_bgrepeat.png);
		}
		.copyright{
			text-align:center; font-size:10px; color:#CCC;
		}
		.copyright a{
			color: #C9651C;
			text-decoration: none
		}    

		.carousel-inner > .item > img,
 		.carousel-inner > .item > a > img {
      		width: 70%;
      		margin: auto;
  		}
  		
  		
    	body{
    		background-color: #dddddd;
    	}